<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2E7C56D3-8894-41E7-849C-BFAEC66E8A7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAB4CCFD-4A05-4F20-BDFA-002EAFEE2B80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55D722B4-9B47-48C7-8D9D-9602850FF12F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E5E5A07-C18C-4127-B6F6-497CD0A6746F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E5E5A07-C18C-4127-B6F6-497CD0A6746F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAB4CCFD-4A05-4F20-BDFA-002EAFEE2B80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F4CD8CB-0B88-4C5E-B253-28681B00F21B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>915B9245-31B1-45E9-84A1-A376602884CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>915B9245-31B1-45E9-84A1-A376602884CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAB4CCFD-4A05-4F20-BDFA-002EAFEE2B80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAB4CCFD-4A05-4F20-BDFA-002EAFEE2B80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E65067-B6BE-40B1-9EDB-7A6342C74500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCAE4EE9-0D9D-4861-8BBB-404694326EE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAB4CCFD-4A05-4F20-BDFA-002EAFEE2B80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D65BAA8D-F95C-417C-AFBC-93D4A80A5365</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCAE4EE9-0D9D-4861-8BBB-404694326EE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8F6C970-4528-4C40-9E67-D8B007385BF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E7C56D3-8894-41E7-849C-BFAEC66E8A7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mmuldoon@blueorigin.com</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bladerunner Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brpc</string>
				<key>subtext</key>
				<string>Get BR Prod Cluster</string>
				<key>text</key>
				<string>BR: Prod Cluster</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D65BAA8D-F95C-417C-AFBC-93D4A80A5365</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>env</key>
					<string></string>
					<key>op</key>
					<string>clusters</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CCAE4EE9-0D9D-4861-8BBB-404694326EE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brpj</string>
				<key>subtext</key>
				<string>Get BR Prod Job</string>
				<key>text</key>
				<string>BR: Prod Job</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>55D722B4-9B47-48C7-8D9D-9602850FF12F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Remove newlines

./remove-newline.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CAB4CCFD-4A05-4F20-BDFA-002EAFEE2B80</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:env}bladerunner.blueorigin.com/bladerunner/api/v1/{var:op}/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>55E65067-B6BE-40B1-9EDB-7A6342C74500</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>env</key>
					<string></string>
					<key>op</key>
					<string>jobs</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8E5E5A07-C18C-4127-B6F6-497CD0A6746F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brsc</string>
				<key>subtext</key>
				<string>Get BR Stage Cluster</string>
				<key>text</key>
				<string>BR: Stage Cluster</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D8F6C970-4528-4C40-9E67-D8B007385BF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>env</key>
					<string>stg-</string>
					<key>op</key>
					<string>clusters</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2E7C56D3-8894-41E7-849C-BFAEC66E8A7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>env</key>
					<string>stg-</string>
					<key>op</key>
					<string>jobs</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>915B9245-31B1-45E9-84A1-A376602884CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>brsj</string>
				<key>subtext</key>
				<string>Get BR Stage Job</string>
				<key>text</key>
				<string>BR: Stage Job</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8F4CD8CB-0B88-4C5E-B253-28681B00F21B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Bladerunner Quick Debug</string>
	<key>uidata</key>
	<dict>
		<key>2E7C56D3-8894-41E7-849C-BFAEC66E8A7D</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>55D722B4-9B47-48C7-8D9D-9602850FF12F</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>55E65067-B6BE-40B1-9EDB-7A6342C74500</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>8E5E5A07-C18C-4127-B6F6-497CD0A6746F</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>8F4CD8CB-0B88-4C5E-B253-28681B00F21B</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>915B9245-31B1-45E9-84A1-A376602884CD</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>CAB4CCFD-4A05-4F20-BDFA-002EAFEE2B80</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>CCAE4EE9-0D9D-4861-8BBB-404694326EE9</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>D65BAA8D-F95C-417C-AFBC-93D4A80A5365</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>D8F6C970-4528-4C40-9E67-D8B007385BF9</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
