<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0C9CF2DF-1246-4E65-A399-80E6BC884BDF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gls</string>
			<key>text</key>
			<string>Gitlab</string>
			<key>url</key>
			<string>https://gitlab.blueorigin.com/search?utf8=%E2%9C%93&amp;snippets=&amp;scope=blobs&amp;repository_ref=&amp;search={query}</string>
		</dict>
		<key>2ECAB3B5-CCDB-4045-9287-E3F9072283CA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>its</string>
			<key>text</key>
			<string>Search its.blueorigin.com for '{query}'</string>
			<key>url</key>
			<string>https://its.blueorigin.com/secure/QuickSearch.jspa?searchString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>40B6A3D9-6678-4F7D-9D6E-BC65AF8C78B2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ud</string>
			<key>text</key>
			<string>Urban Dictionary</string>
			<key>url</key>
			<string>https://www.urbandictionary.com/define.php?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>51259221-2383-4E71-85C3-05B7D0F5904A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ph</string>
			<key>text</key>
			<string>Phind</string>
			<key>url</key>
			<string>https://www.phind.com/search?q={query}</string>
		</dict>
		<key>5B4FC7FA-3373-4894-B249-D628DF2066FA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>w</string>
			<key>text</key>
			<string>Wiki</string>
			<key>url</key>
			<string>https://wiki.blueorigin.com/dosearchsite.action?queryString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5F4D5D0C-11D6-4A52-83A9-7A4F46A0309A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>eti</string>
			<key>text</key>
			<string>Jira ETI</string>
			<key>url</key>
			<string>https://its.blueorigin.com/browse/ETI-1785?filter=50148&amp;jql=project%20%3D%20ETI%20AND%20status%20%3D%20Open%20AND%20text%20~%20%22{query}%22</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9830B99F-CC9D-49DF-A544-F49264FD280D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kowdm</string>
			<key>text</key>
			<string>Kibana owdm</string>
			<key>url</key>
			<string>https://kibana.blueorigin.com/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-24h,mode:relative,to:now))&amp;_a=(columns:!(message),index:AWS4QvlFrk7acWAC-QcN,interval:auto,query:(language:lucene,query:'fields.cluster_name:%20%22prod1%22%20AND%20kubernetes.container.name:%20%22oscar-windchill-data-monitor%22%20AND%20message:%20%22{query}%22'),sort:!('@timestamp',desc))</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9FACA26B-D87E-42E2-B817-99F31CC0E783</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cljd</string>
			<key>text</key>
			<string>ClojureDocs</string>
			<key>url</key>
			<string>https://clojuredocs.org/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DFC9D163-A6C4-49A5-9023-EA928F0B9DD3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>text</key>
			<string>Giphy</string>
			<key>url</key>
			<string>https://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
