<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.blueorigin.kibana</string>
	<key>connections</key>
	<dict>
		<key>1F8754C6-DA0A-4028-9E93-9C150ED3C8C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC94B139-C39D-47EC-8F61-14A5E340552C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C726682-0AAD-4658-ADB2-412A818A7C05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3132C5A-8DCF-4D0F-ABFE-5E2DE5F1CBCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59442767-3B5F-4F7D-987D-F869551F2C3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AA1E1A4-3AEF-48BF-9FFD-1B06B4A385F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66DD23D5-69D0-41DB-A0FA-AECFB35104AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59442767-3B5F-4F7D-987D-F869551F2C3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97228051-87E1-4600-9FF4-A8CA860F7A35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C726682-0AAD-4658-ADB2-412A818A7C05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97EA3280-A6FD-40B9-8A2F-72B37144B52F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F55E9366-A41C-4A7D-83AA-CBEB828D4E80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A255FDB-C65A-46AF-958A-885B92DA2888</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Find on Gitlab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5D8C937-E293-4717-898C-59C9FFDD5A7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7140C7FF-CC02-4759-A11C-87E74DE252CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3132C5A-8DCF-4D0F-ABFE-5E2DE5F1CBCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66DD23D5-69D0-41DB-A0FA-AECFB35104AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC94B139-C39D-47EC-8F61-14A5E340552C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97EA3280-A6FD-40B9-8A2F-72B37144B52F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F55E9366-A41C-4A7D-83AA-CBEB828D4E80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5D8C937-E293-4717-898C-59C9FFDD5A7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mmuldoon@blueorigin.com</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kibana and Gitlab search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"prod1","arg":"prod1"},{"title":"dev1","arg":"dev1"},{"title":"stage1","arg":"stage1"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Environment</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B5D8C937-E293-4717-898C-59C9FFDD5A7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://kibana.blueorigin.com/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-24h,mode:relative,to:now))&amp;_a=(columns:!(message),index:AWS4QvlFrk7acWAC-QcN,interval:auto,query:(language:lucene,query:'fields.cluster_name:%20%22{query}%22%20AND%20kubernetes.container.name:%20%22{var:service}%22%20AND%20message:%20%22{var:logmsg}%22'),sort:!('@timestamp',desc))</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7140C7FF-CC02-4759-A11C-87E74DE252CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"ochoa-template-workorder-sync-service","arg":"ochoa-template-workorder-sync-service","subtitle":""},{"title":"dex-document-indexer","arg":"dex-document-indexer","subtitle":""},{"title":"dex-api-gateway","arg":"dex-api-gateway","subtitle":""},{"title":"dex-frontend","arg":"dex-frontend","subtitle":""},{"title":"dex-elasticsearch-service","arg":"dex-elasticsearch-service","subtitle":""},{"title":"dex-indexing-service","arg":"dex-indexing-service","subtitle":""},{"title":"windchill-part-update-service","arg":"windchill-part-update-service","subtitle":""},{"title":"windchill-customizations","arg":"windchill-customizations"},{"title":"windchill-document-data-service","arg":"windchill-document-data-service"},{"title":"baratang-macro","arg":"batarang-macro"},{"title":"bladerunner-service-implementation","arg":"bladerunner"}]</string>
				<key>keyword</key>
				<string>glservice</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>choose a service</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>97EA3280-A6FD-40B9-8A2F-72B37144B52F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>kq</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Kibana for logs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F8754C6-DA0A-4028-9E93-9C150ED3C8C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>service</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F55E9366-A41C-4A7D-83AA-CBEB828D4E80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>logmsg</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DC94B139-C39D-47EC-8F61-14A5E340552C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gitlab.blueorigin.com/search?utf8=%E2%9C%93&amp;snippets=&amp;scope=projects&amp;repository_ref=&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A255FDB-C65A-46AF-958A-885B92DA2888</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>kd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Kibana for Dex docs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>97228051-87E1-4600-9FF4-A8CA860F7A35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>val</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4C726682-0AAD-4658-ADB2-412A818A7C05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"name","arg":"name","subtitle":""},{"title":"number","arg":"number"}]</string>
				<key>keyword</key>
				<string>attr</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>attribute you're looking for</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C3132C5A-8DCF-4D0F-ABFE-5E2DE5F1CBCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"all","arg":"AWh3FNvkfweXEpD6-ipv"},{"title":"dev1","arg":"AWgWKVE9fweXEpD69Uuv"},{"title":"stage1","arg":"AWg08_PffweXEpD69sgQ"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Environment</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>59442767-3B5F-4F7D-987D-F869551F2C3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://kibana.blueorigin.com/app/kibana#/discover/9a6e69a0-2864-11eb-94c3-e9f8bf68c904?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-48h,mode:relative,to:now))&amp;_a=(columns:!(_source),filters:!(),index:{query},interval:auto,query:(language:lucene,query:'{var:id}:+%22{var:val}%22'),sort:!(_score,desc))</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8AA1E1A4-3AEF-48BF-9FFD-1B06B4A385F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>66DD23D5-69D0-41DB-A0FA-AECFB35104AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Kibana search right</string>
	<key>uidata</key>
	<dict>
		<key>1A255FDB-C65A-46AF-958A-885B92DA2888</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>1F8754C6-DA0A-4028-9E93-9C150ED3C8C7</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>4C726682-0AAD-4658-ADB2-412A818A7C05</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>59442767-3B5F-4F7D-987D-F869551F2C3D</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>66DD23D5-69D0-41DB-A0FA-AECFB35104AE</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>7140C7FF-CC02-4759-A11C-87E74DE252CD</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>8AA1E1A4-3AEF-48BF-9FFD-1B06B4A385F5</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>97228051-87E1-4600-9FF4-A8CA860F7A35</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>97EA3280-A6FD-40B9-8A2F-72B37144B52F</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>B5D8C937-E293-4717-898C-59C9FFDD5A7C</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>C3132C5A-8DCF-4D0F-ABFE-5E2DE5F1CBCE</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>DC94B139-C39D-47EC-8F61-14A5E340552C</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>F55E9366-A41C-4A7D-83AA-CBEB828D4E80</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
